/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comic Neue';
}

/* nav bar */
#nav-row{
    position: fixed;
    z-index: 1;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;  
}

.nav-col{
    padding: 0 10px;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 600px;
}

.nav-col-dx ul{
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style: none;
}

.nav-col ul{
    display: flex;
    align-items: center;
}

.nav-col a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}


/* header */

header{
    width: calc(100vh -80px);
}

.center-header {
    height: 200px;
    border: 1px solid;
}
.bg-color{
    background-color: rgb(190, 190, 235);
}

#header-row{
    padding-top: 60px;
    width: 100%;
    /* margin: 0 auto; */
}

h1{
    text-align: center;
    padding: 100px 0 20px 0;
    font-size: 50px;
}

h2{
    font-size: 30px;
}

#header-col{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    padding-top: 40px;
}

.header-col-sx{
    padding-top: 100px;
    width: 30%;
    font-size: 20px;
}

.header-col-dx{
    width: 50%;
    min-width: 600px;
}

.header-col-dx img{
    width: 100%;
    padding-top: 100px;
}

.header-col-sx button {
    margin: 100px 0;    
}

.header-col-sx{
    min-width: 600px;
}

.header-col-sx span{
    display: block;
    margin: 40px 0;
}

.fa-arrow-down:hover{
    font-size: 50px;
}

.fa-arrow-down{
    font-size: 40px;
    padding-top: 50px;
    color: black;
}

button{
    background-color: #0061FE;
    padding: 10px;
    color: white;
    font-size: 18px;
    border: none;
}

button:hover{
    cursor: pointer;
}

/* main */
/* first section */
.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin{
    margin-top: 80px;
    width: 70%;
}

.medium-row{
    width: 100%;
    /* flex-wrap: wrap; */
}

.input-margin{
    margin: 30px 0;
    display: inline-block;
    margin-right: 30px;
}

.row-display-sb{
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

/* column style */
.col-3{
    min-width: 300px;
    flex-basis: 30%;
    flex-shrink: 1;  
}

.border{
    border: 1px solid lightgray;
}

/* icone */
.icon{
    padding: 10px 0;
    text-align: center;
    border: 1px solid lightgray;
    font-size: 20px;
}

/* type of subscription */
.padding-left{
    padding: 0 30px;
}

.type h3{
    margin: 40px 0 20px 0 ;
    font-size: 25px;
}

.price{
    display: block;
    margin-bottom: 20px;
}


/* container opzioni piano */
.option-container{
    display: flex;
}

.gap{
    margin-top: 40px;
}


.features-icons{
    margin-right: 10px;
    margin-bottom: 40px ;
}

.fa-check{
    color: blue;
}
/* trial */
.trial button{
    width: 100%;
}

.trial{
    text-align: center;
    margin-top: 30px;
}

.buy{
    margin-top: 30px;
}

/* bottom column */
.divider{
    border-top: 1px solid lightgray;
    width: 50px;
    margin: 50px 0;
}


.bottom-col h3{
    margin-bottom: 30px;
}

/* section 2 */

.row-display-cx{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.row-display-cx{
    margin-bottom: 100px;
}

.icon{
    border: 1px solid lightgray;
}

.col-2{
    min-width: 400px;
    flex-basis: 50%;
}

.col-2-dx{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px 40px 0 0;
}

.col-2-sx{
    padding: 30px 40px 20px;
}


.col-2 h4{
    margin: 20px 0 40px 0;
}

/* sezione 3 */


.col-2-img{
    flex-basis: 50%;
    min-width: 500px;
}

.col-2 img{
    width: 100%;
}

.col-2-text{
    flex-basis: 40%;
    padding: 100px 50px 0 0;
    margin-left: 50px;
    min-width: 300px;
}


.col-2-text p{
    margin: 20px 0 30px 0;
}

.col-2-text button{
    color: black;

}

/* section 4 */

.row-display-sb h3{
    padding-top: 20px;
}
.col-3 img{
    width: 100%;
    min-width: 300px;
}

.col-3 p{
    margin-top: 30px;
}

/* section 5 */
.medium-row a{
    display: inline-block;
    margin: 30px 0;
}

/* section 6 */
.large-row{
    border: 1px solid black;
    display: flex;
}

.large-row-gap{
    margin-top: 150px;
}
.container-col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
    display: flex;
    
}

.bg-col-text{
    background-color: #e3dfdf;
}

#container-col-text h2{
    font-size: 60px;
}

.container-col-text-divider{
    width: 100px;
    border-top: 1px solid black;
    margin: 50px 0;
}

#container-col-text{
    font-size: 100%;
    padding: 40px 40px;
}

.row-col-4{
   display: flex;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
}

.col-4{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-4 img{
    width: 65%;
    filter: invert(100%)
}

/* bg image color */
#designit{
    background-color: #adad26;
}

#florida{
    background-color: #00bfff;
}

#arizona{
    background-color: #6d0026;
}  

#topps{
    background-color: #f2300d;
}

#bicycle{
    background-color: #ff0000;
}

#corps{
    background-color: #66ccff;
}

#planet{
    background-color: #0000ff;
}

#channel{
    background-color: #91f23d;
}




/* large row 2 */
.large-row-col{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.bg-color{
    background-color: rgb(190, 190, 235);
}

.large-col{
    padding: 150px 0;
}

.large-col h2{
    padding-right: 100px;
}

.large-col button{
    background-color: rgb(201, 214, 214) ;
    color: black;
    width: 300px;
}


/* last row */
.last-container{
    margin: 0 auto;
    width: 70%;
    height: 400px;
    margin-bottom: 100px;
}

.last.row{
    width:100%
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.last-row h2{
    padding: 80px 0 40px 0;

}

.last-row h3{
    padding: 30px 0;
}

.answer{
    display: none;
}

.question:hover + .answer{
    display: block;
}



/* footer */
.footer-bg-color{
    background-color: black; 
}

#display{
    display: flex;
    justify-content: center;
}

.footer-row{
    padding: 100px 100px 0;
}

.footer-col{
    flex-grow: 1;
    color: white;                       
}

.footer-col li{
    margin-top: 25px;
}
.footer-col li:first-child{
    margin-top: 50px;
}

.footer-col a{
    text-decoration: none;
    color: white;
}

.footer-divider{
    display: block;
    width: 100px;
    border-top: 1px solid lightgrey;
    padding: 30px 0;
}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: grey;
    padding-bottom: 50px;
}

.footer-icon span{
    margin: 0 6px;
}

