/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* classi ripetute */
.border{
    border: 1px solid lightgray;
}

.row{
    display: flex;
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

.fs-40{
    font-size: 40px;
}

.section-margin{
    margin-top: 100px;
}

.section-margin-large{
    margin-top: 150px;
}

.sub-section-margin{
    margin-top: 50px;
}

.pt-pb-90{
    padding: 90px 0;
}

.pt-pl-20{
    padding-top: 20px;
    padding-left: 20px;
}

.pt-pr-20{
    padding-top: 20px;
    padding-right: 20px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-70{
    padding-top: 70px;
}

.pt-150 {
    padding-top: 150px;
}

.mb-mt-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.mb-mt-50{
    margin-top: 50px;
    margin-bottom: 50px;
}

.mt-10{
    margin-top: 10px;
}

.mr-10{
    margin-right: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px
}

.mb-40{
    margin-bottom: 40px;
}

.block{
    display: block;
}

.col-3 hr{
    width: 50px;
}

button{
    padding: 10px;
    border: none;
    background-color: #0061FE;
    color: white;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
}

.fa-check{
    color: blue;
}

/* nav bar */
#nav-row{
    position: fixed;
    z-index: 1;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;  
}

.nav-col{
    padding: 0 10px;
    max-width: 50rem;
    min-width: 40rem;
}

.nav-col-dx ul{
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style: none;
}

.nav-col ul{
    display: flex;
    align-items: center;
}

.nav-col button{
  width: 80%;
}

.nav-col a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}


/* header */

.bg-color{
    background-color: rgb(190, 190, 235);
}

#header-row{
    display: flex;
}

.header-section-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
    min-width: 50rem;
}

#paragrafo-header{
    font-size: 14px;
    margin-bottom: 15px;
}

.header-section-container h1{
    font-size: 50px;
}

#col-sx{
    width: 35%;
}

#col-dx{
    width: 65%
}

#col-dx img{
    max-width: 700px;
}

.fa-arrow-down{
    display: block;
    font-size: 40px;
    margin-top: 50px;

}

#col-sx a{
    text-decoration: none;
    color: black;
}

#col-sx span{
    display: block;
}


/* main */
.main-section-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    min-width: 60rem;
}

.input-margin{
    display: inline-block;
}

.col-3{
    max-width: 18rem;
    min-width: 18rem;
}

.icons-container{
    display: flex;
}

.icons{
    margin-right: 10px;
}

.icon{
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;

}

.centralized-col{
    width: 90%;
    margin: 0 auto;
}

.col-3 li{
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-3 button{
    width: 100%;
}

/* sub section 2 */


.col-2{
    min-width: 28rem;
    max-width: 28rem;
    position: relative;
}


.col-2 button{
    position: absolute;
    top: 20px;
    right: 20px;
}

/* sub section 3 */
.col-2-img{
    width: 70%;
}

.col-2-img img{
    max-width: 600px;
}

.col-2-text{
    padding-right: 20px;
    width: 30%;
}

.col-2-text button{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    width: 60%;
}

/* sub section 4 */

.col-3 img{
    max-width: 250px;
    min-width: 200px;
}


/* sub section 5 */
.large-row{
    display: flex;
}

.large-row-gap{
    margin-top: 150px;
}

.container-col{
    max-width: 40rem;
    min-width: 25rem;
    min-height: 30rem; 
    display: flex;
    
}

.bg-col-text{
    background-color: #e3dfdf;
    overflow-y: auto;
}

#container-col-text h2{
    font-size: 60px;
}

.title-header{
    position: relative;
}

.title-header span{
    position: absolute;
    top: 10px;
    left: 230px;
    font-size: 20px;
}

.container-col-text-divider{
    width: 100px;
    border-top: 1px solid black;
    margin: 50px 0;
}

#container-col-text{
    font-size: 100%;
    padding: 40px 40px;
}

#container-col-text p{
    margin: 50px 0;
}

.row-col-4{
   display: flex;
   width: 100%;
   height: 100%;
   flex-wrap: wrap;
}

.col-4{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-4 img{
    width: 65%;
    filter: invert(100%)
}

/* bg image color */
#designit{
    background-color: #adad26;
}

#florida{
    background-color: #00bfff;
}

#arizona{
    background-color: #6d0026;
}  

#topps{
    background-color: #f2300d;
}

#bicycle{
    background-color: #ff0000;
}

#corps{
    background-color: #66ccff;
}

#planet{
    background-color: #0000ff;
}

#channel{
    background-color: #91f23d;
}


/* sub section 6 */ 
.button-color{
    background-color: lightblue;
    color: black;
    width: 60%;
}

/* sub section 7 */

.question{
    position: relative;
}

.fa-chevron-down{
    position: absolute;
    top: 0;
    right: 0;
}

/* footer */
.footer-bg-color{
    background-color: black; 
    color: lightgray;
}

.mb-10{
    margin-bottom: 20px;
}

.footer-section-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    min-width: 80rem;
}

.col-5{
    max-width: 20rem;
    min-width: 16rem;
}

.col-5 a{
    color: white;
    text-decoration: none;
}


.footer-icon{
    padding-bottom: 60px;
}

.mt-mb{
    margin: 60px 0 40px 0;
    width: 90px;
}


